.container {
  display: flex;
  justify-content: center;
  gap: 20px;

  background-color: white;
  border-bottom: black 1px solid;
  padding: 12px 0px;
  margin-bottom: 12px;
}

.input {
  width: 250px;
}

.button {
  padding: 6px 12px;
}
